name: Build Debug (x64)

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '9.0.x'

    - name: Install Windows SDK 10.0.26100.0
      run: choco install windows-sdk-10.0 -y --version 10.0.26100.1742 --allow-empty-checksums --force

    - name: Build Solution
      run: msbuild PowerToys.slnx /m /restore /p:Configuration=Debug /p:Platform=x64
